pandas
numpy
bs4
selenium
black
pylint
mypy
aiohttp
requests
webdriver-manager
pymysql
boto3
configparser
faker
apache-airflow
apache-airflow-providers-mysql
undetected_chromedriver
fake_useragent
konlpy
JPype1
